body {
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 30px;
}

.header-logo, .links {
    margin: 10px 200px;
}

.links a {
   font-size: 18px;
   font-weight: 400;
   color: #e5e7eb;
   text-decoration: none;
}

.mid-one {

    display: flex;
    background-color: #1F2937;
    justify-content:space-around;
    align-items: center;
    padding: 70px;

}

.mid-one-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
}

.mid-one-text button {
    align-self: flex-start;
}

.mid-one-img {

    display: flex;
    justify-content: center;
    align-self: center;

}

.mid-one img {
    width: 320px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-title {

    font-family: Roboto, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-top: 50px;
    margin-bottom: 25px;

}
.hero-text {

    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #f9faf8;
    text-wrap: wrap;
    width: 65%;
    margin-bottom: 25px;


}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    color: #e5e7eb;
    background-color: rgb(34, 117, 243);
}

.mid-two {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.mid-two-title {
    color: black;
    font-family: Roboto, Helvetica, sans-serif;
     font-size: 28px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 25px;
}

.mid-two > .images {

    display: flex;
    border: #084292;
    box-sizing: 4px;
    margin: 100px;
    gap: 20px;

}

.images > .image {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.image > .caption {
    text-wrap: wrap;
    width: 50%;
}


.mid-three {
    background-color: rgb(182, 231, 231);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.qoute {
    width: 65%;
    text-wrap: wrap;
    font-size: 36px;
    font-weight: 300;
}

.author {

    width: 5%;
    font-size: 20px;
    font-weight: 300;
    align-self:last baseline;
    margin: 10px 225px;

}

.mid-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.modal {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.modal-line-one {

    color: white;
    font-size: 22px;
    font-weight: 600;

}

.modal-line-two {

    color: white;
    font-size: 18px;
    font-weight: 300;

}

.modal-button {

    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.footer {

    background-color: #1F2937;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}